/* PALETA DE CORES BISQUE
Rosa - #FBB8FF
Violeta - #CCABFF
AmareloQueimado - #FFC278
Turquesa - #6699B3
Verde - #9ABF3D
Azul claro - #ABE4FF
VerdeÁgua- #89CCBD
*/
body{
    background-color: antiquewhite;
    color: black;
    font: normal 15px arial;
}
header{
    text-align: center;
}
section{
    font: normal 18px arial;
    background-color: azure;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
footer{
    text-align: end;
    font: normal 10px arial;
    padding: 10px;
    line-height: 2px;
}